	.username{
		font-size:12px;
		font-weight:700;
		color:#000000;
	}
	.time	 {
		font-size:12px;
		color:#AAAAAA;
	}
	.judul	 {
		margin: 8px 0 0 0;
		display:block;
		font-size:18px;
		font-weight:700;
		color:#000000;
	}

