/* CSS Document */

::-webkit-scrollbar {
                    height:8px;
                    width: 10px;
                    background: #DAD2D2;}
::-webkit-scrollbar-thumb {
                    background-color: #333;
                    border-radius: 7px;}

 
form, p, span {
	margin:0;
	padding:0; 
}
 
input { font:12px arial; }
 
.jendela {
	position:fixed;
	width:83%;
	height:90%;
	margin:0;
	padding:0;
	background:#6B6B6B;
}
.leftmenu{
	width:29.5%;
	height:100%;
	float:left;
	display:block;
	font-family: Verdana, sans-serif;
}
.whoisonline{
	display:block;
	width:94%;
	height:65%;
	overflow:auto;
	color:#FFFFFF;
	text-align:left;
	padding:5% 3%;
	text-indent:10px;
}
	.chat_on a{
		color:#5AF142;
		text-decoration:none;
		font-family:calibri;
		font-size:15px;
		font-weight:700;
	}
	.user_ol a{
		text-decoration:none;
		color:#FFFFFF;
		font-family:calibri;
		font-size:15px;
		font-weight:700;
	}
.tool{
	margin: 0px auto;
	width:90%;
}
	.listemoji{
		padding-top: 10px;
		border-top:1.7px solid #565656;
	}
	.text_tool{
		display:block;
		height:30px;
		line-height:30px;
		color:#FFFFFF;
		font-weight:700;
		margin-top:10px;
		border-top:1.7px solid #565656;
	}

#wrapper {
	margin:0 auto;
	float:right;
	padding-bottom:3%;
	background:#8A8A8A;
	border-left:2px solid #BFBFBF;
	width:70%;
	height:100%;
}
 

#chatbox {
	text-align:left;
	margin:0 auto;
	margin-bottom:3%;
	background:#fff;
	height:93%;
	width:99%;
	overflow:auto;
	transition:all .5s; 
}
#listchat {
	height:100px auto;
	margin:0; padding: 0;
	overflow:hidden;
	display:block;
}
#chatbox p{line-height:20px; margin:0px; padding:0px; font-size:14px;}
#chatbox em{display:block; background:#636363; margin:0px;}
#chatbox b{margin-bottom:2px; display:inline-block;}
 
#usermsg {
	width:75%;
	margin:0 1%;
	line-height:15px;
	vertical-align:middle;
	height:20px;
	border:1px solid #D4D4D4;
	text-align:left;
	position:relative;
	top:-5px;
}
#submitmsg { 
	height: 24px;
	position:relative;
	top:-4px;
	border-radius:2px;
	font-weight:700;
	background:none;
	color:#FFFFFF;
	border: 2px solid #FFFFFF;
}
#submitmsg:hover{
	color:#000000;
	background:#FFFFFF;
	transition:all .5s;
}
.inputEmot{
	width:82%;
	height:50px;
	background:#ECECEC;
	padding: 2% 3%;
	margin: 10px auto 0px auto;
	text-align:justify;
} 
 
.welcome { float:left; color:#FFFFFF; font-size:13px; line-height:20px; }
 
.msgln {
	margin: 0;
	border-bottom:1px solid #C9C9C9;
	padding: 4px 2%;
	display: block;
	clear: both;
	float: left;
	width: 95.5%;
}
.msgln i{font-size:10px; float:right;}
.msglnku {
	margin: 0;
	border-bottom:1px solid #C9C9C9;
	padding: 4px 2%;
	display: block;
	text-align: right;
	clear: both;
	float: right;
	width: 96%;
	background-color:#E4E4E4;
}
.msglnku i{ font-size:10px; float:left;}
.msglnIf {
	margin: 0; 
	text-align:center;
	width:100%;
	height:20px auto;
	line-height:20px;
	color:#FFFFFF;
	font-weight:500;
	float:left;
}