RewriteEngine on
RewriteCond %{HTTP_HOST} ^stei2015.besaba.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.stei2015.besaba.com$
RewriteCond %{REQUEST_URI} !webstei2015/public/
RewriteRule (.*) /webstei2015/public/$1 [L]