<?php

define('DB_HOST', getenv('OPENSHIFT_MYSQL_DB_HOST').':'.getenv('OPENSHIFT_MYSQL_DB_PORT'));
define('DB_USER', 'adminnmBNJPN');
define('DB_PASSWORD', 'VfC5-fXgBBKu');
define('DB_NAME', 'webstei2015');

define('ROOT_URL', '');

//define('REGCODE', 'stei2015');

?>