
.form-login {
	max-width: 350px;
	padding: 5px;
	margin: 0 auto;
	margin-top:10%;
}

.form-login .input-group {
	margin-bottom: 5px;
}

.form-login .btn {
	margin-top: 8px;
	margin-bottom: 8px;
}

.form-register {
	max-width: 500px;
	padding: 5px;
	margin: 0 auto;
	margin-top: 4%;
}

.error-text {
	display:none;
}

.has-error .error-text {
	display: inline;
	color: #F04124;
}

.callout {
	background-color: #fff;
	border-left: solid 5px #008cba;
	padding: 10px 40px 20px 40px;
}

body {
	background-color: #eee;
}





.sidebar {
  width: 250px;
  position: fixed;
  top:45px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #222;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-top: 20px;
}

.nav-sidebar > li.caption {
  padding: 5px 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: @font-size-small;
}

.nav-sidebar > li > a {
  color: #bbb;
  padding: 8px 20px;
}

.nav-sidebar > li > a:hover,
.nav-sidebar > li > a:focus {
  background-color: #333;
  outline: none;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #555;
}

.container.container-sidebar {
  padding-left: 260px;
}

.sidebar .progress {
  height: 3px;
  margin: 0;
}